.modal-overlay {
  position: fixed;
  inset: 0; /* top:0 left:0 right:0 bottom:0 */
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.modal-card {
  background: #282828;
  width: 520px;
  max-width: 90%;
  max-height: 85vh;
  border-radius: 12px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 2%;
}
.modal-header {
  padding: 16px 20px;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.modal-header h3 {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 600;
  
}

.modal-close {
  background: none;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
  color: #6b7280;
}

.modal-close:hover {
  color: #111827;
}
.fields{
    padding: 2%;
}
.btn-primary {
  background: #4f46e5;
  color: white;
  padding: 8px 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
}

.btn-primary:hover {
  background: #4338ca;
}

.btn-secondary {
  background: transparent;
  color: #111827;
  padding: 8px 14px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  color: white;
}

.btn-secondary:hover {
  background: #d1d5db;
  color:black
}
