.login-container{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.form-card{
    width:100%;
    max-width:400px;
    padding:1.5rem;
    border-radius: 10px;
    box-shadow:0 12px 35px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    gap:1.25rem;
}
.form-title{
    font-size:1.25rem;
    font-weight:600;
    margin-bottom:1rem;
    color:white;
}
input{
    padding:0.75rem 1rem;
    font-size:1rem;
    border:1px solid #ccc;
    border-radius:5px;
}