/* Page container */
* {
    box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}


.login-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    overflow: hidden;
}

/* Login card */
.form-card {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.35);
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    background-color: #282828;
}

/* Title */
.form-title {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
}

.login-title {
    font-size: 1.8rem;
    margin-bottom: 0.25rem;
}

/* Labels */
.input-field {
    font-size: 0.9rem;
    color: #d1d5db;
}

/* Inputs */
input {
    width: 100%;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    background-color: #1f2933;
    color: white;
}

input::placeholder {
    color: #9ca3af;
}

input:focus {
    outline: none;
    border: 1px solid #2563eb;
}

/* Button */
.submit-btn {
    margin-top: 0.5rem;
    padding: 0.65rem;
    border-radius: 8px;
    background-color: #2563eb;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.2s ease;
}

.submit-btn:hover {
    background-color: #1d4ed8;
}

/* Link */
a {
    text-align: center;
    font-size: 0.85rem;
    color: #93c5fd;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
