.login-container{
    min-height:100vh;
    min-width: 100vw;
    display:flex;
    align-items: center;
    background-color: #121212;
}

.form-card{
    width:100%;
    max-width:400px;
    padding:1.5rem;
    border-radius: 10px;
    box-shadow:0 12px 35px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    gap:1.25rem;
    background-color: #282828;
    
}
.form-title{
    font-size:1.25rem;
    font-weight:600;
    margin-bottom:1rem;
    color:white;
}
input{
    padding:0.75rem 1rem;
    font-size:1rem;
    border:1px solid #ccc;
    border-radius:5px;
}
.submit-btn{
    margin-top: 5px;
    margin-left: 8.3rem;
    padding: 0.4rem;
    border-radius: 0.6rem;
    background-color: #2563eb;
    color: white;
    width: 5rem;
}