.teams-page {
  display: grid;
  grid-template-columns: 280px 1fr;
  height: 85vh;
  background: #121212;
  margin-top: 10vh;
  margin-left: 4vw;
  width: 90vw;
  gap:1.2rem;
}

/* LEFT COLUMN */
.teams-sidebar {
  background: #282828;
  padding: 16px;
  display: flex;
  flex-direction: column;
  color: white;
  border-radius: 1.2rem;
}

.teams-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:white;
}

.add-btn {
  background: #2563eb;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.search-input {
  margin: 12px 0;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.teams-list {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
}

.teams-list li {
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.teams-list li:hover {
  background: #f1f5f9;
}

.teams-list li.active {
  background: #e0e7ff;
  font-weight: 600;
  color: #282828;
}

/* RIGHT COLUMN */
.teams-content {
  padding: 24px;
  background-color: #282828;
  color: white;
  border-radius: 1.2rem;
}

.empty-state {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6b7280;
}

.team-details-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.edit-btn {
  background: #f59e0b;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  color: white;
}

.team-form {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.team-form input,
.team-form textarea {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ddd;
  color: white;
}

.team-members {
  margin-top: 24px;
}


/* ACTIONS */
.actions {
  margin-top: 16px;
  display: flex;
  gap: 10px;
}

.save-btn {
  background: #16a34a;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
}

.cancel-btn {
  background: #ef4444;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
}
/* TeamPage.css */
.members-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 16px;
  padding: 12px;
}
.members-header{
  display: grid;
  justify-content: center;
  gap:2rem;
}
.add-member-btn{
  grid-column: 25;
  grid-row: 0;
  border-radius: 0.5rem;
  background-color: #2563eb;
  color:white;
  border: 0;
}
.member-label{
  grid-row: 0;
  grid-column: 15;
}